<h1>Listing Suppliers</h1>
<%= link_to 'New supplier', new_supplier_path %>
<table>
  <tr>
    <th>Title</th>
    <th colspan="3"></th>
  </tr>

  <% @suppliers.each do |supplier| %>
    <tr>
      <td><%= supplier.name %></td>
      <td><%= link_to 'Show', supplier_path(supplier) %></td>
      <td><%= link_to 'Destroy', supplier_path(supplier),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>